*{
    margin:0;
    padding:0;
}
body{
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:100vh;
}
.heart{
    display:inline-block;
    position:relative;
    width:80px;
    height:80px;
}